version: '3.8'

services:
  nginx:
    ports:
      - "8080:80"
  mongodb:
    container_name: mongodb

  devindocker:
    deploy:
      replicas: 8
      restart_policy:
        delay: 5s
        max_attempts: 3
        window: 100s
      rollback_config:
        parallelism: 2
        delay: 3s
      update_config:
        parallelism: 2
        delay: 2s

    image: taketrace00/devindocker
    build:
      context: .
      args:
        NODE_ENV: production
    env_file: .env
    command: npm run start
